core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
best_model.h5

# Ignore model files
*.h5
*.keras
my_model.keras
# Ignore model files
*.h5
*.keras
best_model.h5
my_model.keras

# Ignore model files
*.h5
*.keras
best_model.h5
my_model.keras

# Ignore model files
*.h5
*.keras
best_model.h5
my_model.keras

# Ignore model files
*.h5
*.keras
best_model.h5
my_model.keras

# Ignore model files
*.h5
*.keras
best_model.h5
my_model.keras
